<!-- Include Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function confirmReset() {
        // Display a confirmation dialog
        if (confirm("If you press ok,your old password will be deleted,Are you sure to reset your password")) {
            return true
        }
        else{
          event.preventDefault()
          return false
        }
    }

    function back() {
      window.history.back()
    }
</script>


</body>
</html>